.footer_container{
	text-align: center;
	background-color: #6f5fdb;
    box-shadow: 0 4px 10px 10px rgba(0, 0, 0, 0.2), 0 6px 20px 10px rgba(0, 0, 0, 0.19);
	padding: 66px /*50px 20px 50px*/;
	color: black;
}
.footer_container >p{
	color: white;
}
/*.footer_left{
	flex: 30%;
}
.footer_center{
	flex: 40%;
}.footer_right{
	flex: 30%;
}
.footer_left >img{
	float: left;
	top: 2%;
	width: 30%;
}
@media (max-width: 800px){
	.footer_left >img{
	top: 2%;
	width: 50%;
	}	
}*/