@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

html {
	scroll-behavior: smooth;
	/*transition: 2s ease-out;*/
}
body{
	background-color: #fff;
}
*{
	margin: 0;
	/*background-color: grey;*/
}
ul{
	list-style: none;
}
a{
	text-decoration: none;
}
.nav_container{
	position: fixed;
	z-index: 2;
	top: 0;
	right: 0;
	width: 100%;
	-webkit-backface-visibility: hidden;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	display: flex;
}
.nav_logo{
	text-align: left;
	padding: 10px 0px 10px 36px;
	flex: 25%;
}
.nav_menu{
	flex: 50%;
}
#instagram{
	color: black;
	font-size: 36px;
	padding: 16px 16px 8px 0px;
	margin: 0;
	flex: 25%;
}
#instagram > i{
	padding: 0px 16px 0px 0px;
	width: 50px;
	float: right;
}
#instagram > i:hover{
	color: orange;
}
.nav_list_grid{
	padding: 0;
	display: flex;
}
.nav_item{
	font-size: 18px;
	padding: 16px 0px 16px 0px;
	flex: 25%;
}
.nav_link{
	color: black;
}
.nav_link:hover{
	color: blue;
}
/*đổi màu background khi cuộn xuống*/
.active_nav {
	background-color: #0068c8;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
.active_nav .nav_link{
	color: black;
}
.active_nav .nav_link:hover {
	color: orange;
}
/*PHẦN POSTER CHÀO*/

.home_container{
	/*background: linear-gradient(45deg, turquoise, darkorchid, deeppink, orange);	*/
	background: #fff;
	/*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);*/
	padding: 200px 0px 50px 0px;
	display: flex;
}
.home_left{
	padding-top: 100px;
	flex: 15%;
}
.home_left >ul{
	color: #0068c8;
	padding: 40px 0 0 0;
	font-size: 28px;
}
.home_center{
	padding-top: 100px;
	color: black;
	flex: 35%;
}
.home_center >p.h2{
	font-size: 26px;
	/*padding-right: 300px;*/
}
.home_right{
	flex: 50%;
}
.svg{
	fill: #0068c8;
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}
.svg-img{
	display: block;
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
	width: 90%;
}
@media (max-width: 800px){
	.home_container{
		padding: 50px 0px 20px 0px;
		flex-wrap: wrap;
	}
	.home_left{
		flex: 15%;
	}
	.home_center{
		flex: 80%;
	}
	.home_right{
		padding: 40px 0 0 0;
		flex: 100%;
	}
	/*làm reponsive cho điện thoại*/
	.nav_link p{
		display: none;
	}
	.nav_item{
		padding: 22px 0 0 0;
		font-size: 26px;
	}
	.nav_link:hover{
		color: orange;
	}
	.nav_link>i:after {
		content: '';
		position: absolute;
		width: 100%;
		transform: scaleX(0);
		height: 2px;
		bottom: 0;
		left: 0;
		background-color: orange;
		transform-origin: bottom right;
		transition: transform 0.5s ease-out;
	}

	.nav_link>i:hover:after {
		transform: scaleX(1);
		transform-origin: bottom left;
	}
}
