@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

html {
  scroll-behavior: smooth;
}
*{
	margin: 0;
	/*background-color: grey;*/
}
ul{
	list-style: none;
}
a{
	text-decoration: none;
}
.nav_container{
	display: flex;
/*	background-color: #f1f1f1;*/
}
.nav_logo{
	text-align: left;
	padding: 10px 0px 10px 36px;
	flex: 25%;
}
.nav_menu{
	flex: 50%;
}
#instagram{
	font-size: 36px;
	padding: 8px 16px 8px 0px;
	margin: 0;
	flex: 25;
}
#instagram > i{
	padding: 0px 16px 0px 0px;
	width: 50px;
	float: right;
}
#instagram > i:hover{
	color: blue;
}
.nav_list_grid{
	padding: 0;
	display: flex;
}
.nav_item{
	font-size: 18px;
	padding: 16px 0px 16px 0px;
	flex: 25%;
}
.nav_link:hover{
	color: blue;
}
.home_container{
	padding: 200px 0px 200px 0px;
	background-color: #f1f1f1;
	display: flex;
}
.home_left{
	flex: 15%;
}
.home_left >ul{
	padding-right: 60px;
	padding-left: 60px;
	padding-top: 40px;
	font-size: 28px;
}
.home_center{
	flex: 35%;
}
.home_center >p.h2{
	font-size: 26px;
	/*padding-right: 300px;*/
}
.home_right{
	flex: 50%;
}
.svg{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}
.svg-img{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 90%;
}
