body{
  text-align: center;
}
.collapsible {
  background-color: #fff;
  color: black;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: center;
  outline: none;
  font-size: 15px;
}

.active, .collapsible:hover {
  color: blue;
}

.collapsible:after {
  /*content: '\2193';*/
  color: black;
  font-weight: bold;
  float: center;
  margin-left: 5px;
}

.active:after {
  /*content: "\2191";*/
  color: black;
}

.content {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease-out;
  background-color: #fff;
}